body{
    width: 90%;
    margin: auto ;
    background-image: url(../imagens/produtos\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: center;
    front-family: sans-serif;
    line-height: 1.5;
    
}
main{
    background-color:#f3a80059;
}